.circleRating {
  background-color: white;
  border-radius: 50%;

  .CircularProgressbar-text {
    font-size: 40px;
    font-weight: 700;
    fill: var(--black);
    transform: translate(-20%, 13%);
  }

  .CircularProgressbar-trail {
    stroke: transparent;
  }
}
