@import "../../../mixins.scss";

.genres {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  .genre {
    background: var(--gradient);
    padding: 3px 5px;
    font-size: 14px;
    border-radius: 3px;
    color: white;
    white-space: nowrap;
  }
}
